---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href={`${import.meta.env.BASE_URL}#open-positions`} class="button-link">Careers</a>
    </li>
  </Navigation>
</header>

<style>
  .button-link {
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none !important;
    transition: opacity 0.2s ease;
  }

  .button-link:hover,
  .button-link:focus-visible {
    opacity: 0.8;
    text-decoration: none !important;
  }
</style>
