---
import ResponsiveToggle from './ResponsiveToggle.astro'
import Logo from './Logo.astro'

/**
 * Navigation Component
 *
 * @description A component that displays the navigation menu for the website
 */
---

<div id="main-navigation" class="py-8">
  <div class="container">
    <Logo />
    <div class="wrapper">
      <nav class="inline-menu" aria-label="Main navigation">
        <ul class="menu">
          <slot />
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    // variables
    const mainNav = document.querySelector('#main-navigation') as HTMLElement | null
    if (!mainNav) return

    // functions
    const setActiveMenuItem = (): void => {
      const menus = mainNav.querySelectorAll('nav > ul')
      const currentPathname = window.location.pathname

      menus.forEach((menu) => {
        const menuItems = [...menu.querySelectorAll('a:not([rel*="external"])')] as HTMLAnchorElement[]

        menuItems.forEach((menuItem) => {
          if (currentPathname.includes(menuItem.pathname.replaceAll('/', '')) && menuItem.textContent !== 'Home') {
            menuItem.classList.add('is-active')
            menuItem.setAttribute('aria-current', 'page')
          } else if (menuItem.textContent === 'Home' && currentPathname === '/') {
            menuItem.classList.add('is-active')
            menuItem.setAttribute('aria-current', 'page')
          }
        })
      })
    }

    setActiveMenuItem()
  })
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/mixins' as *;
  @use '../assets/scss/base/breakpoint' as *;

  #main-navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 640px) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      @media (min-width: 640px) {
        gap: var(--space-xs);
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
    }

    .inline-menu {
      display: block;
    }

    a,
    button {
      color: var(--foreground-color);
    }

    nav {
      > ul {
        display: flex;
        gap: var(--space-m);
        list-style-type: none;
        margin: 0;

        li {
          align-content: center;
        }

        a:hover,
        a:focus-visible,
        .is-active {
          text-decoration: underline;
          text-decoration-style: wavy;
          text-decoration-thickness: 1px;
          text-underline-offset: 7px;
        }

        .is-active {
          font-weight: bold;
        }
      }
    }
  }
</style>
